<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>UBS Voc&ecirc;</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<link rel="icon" th:href="@{/image/favicon.png}" />
	
		<!-- Bootstrap core CSS -->
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
		
		<!-- Custom styles for this template -->
		<link th:href="@{/css/style.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div id="map">
			
			<header style="background-color:#FFF;">
				<div></div>
			</header>
			
			<div class="layout-main">
				
				<section class="formbase">
					<div class="form shadow corner15">
						<form id="form" method="POST" enctype="multipart/form-data" action="/import/uploader"  th:attrappend="title=${files}?'Disabilitado! Arquivo Já Carregado.'"  >
							<label>ubs.csv file:</label><br />
							<input type="file" accept=".csv" name="file" id="file" class="inputfile" th:classappend="${files.size()>0} ? inputfileDisabled : ''" th:disabled="${files.size()>0}" />
							<label class="labelToUp" for="file"><span class="oi oi-cloud-upload"></span></label>
						</form>
					</div>
				</section>
				<div style="text-align:center; margin-top:50px;">
					<ul>
						<li th:each="file : ${files}">
							<a th:href="${file}" th:text="${file}"></a>
						</li>
						<li th:classappend="${files.size()==0} ? off : ''">Arquivo já carregado.</li>
						<li th:classappend="${files.size()==0} ? off : ''" style="margin-top:30px;"><a href="/" title="Abrir Aplicativo!">App</a></li>
					</ul>
				</div>
			</div>
			
			<footer>
				<div></div>
			</footer>
			
			<div class="menu shadow">
				<nav>
					<span class="logo"><span>UBS</span> Voc&ecirc;</span>
				</nav>		
			</div>
		</div>
		
		<!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript">
		    
			var url = "";
			
			$(document).ready(function(){
			    
			    $('button[id*="btn_"]').click(function(){
			    	url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
			    	$("#ok_confirm").click(function(){
			    		document.location.href=url;
			    	});
			    });
			    
			});
			
			document.getElementById("file").onchange = function() {
			    document.getElementById("form").submit();
			};
	
		</script>
		
	</body>
</html>